html,
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(https://th.bing.com/th/id/R.4274da52ce015eba856e992f52d34f20?rik=7BYmJ38D9s8sQQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fuyeqTRM.jpg&ehk=pSmH9h8RgZnQ6a0gZVu2gv2iTzI%2fS9ujuBjqqziGfss%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: auto;
}

.container {
    width: auto;
}

nav {
    position: absolute;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
}

nav .logo {
    float: left;
    font-size: 17px;
    color: rgb(236, 13, 13);
    padding: 15px;
    margin-left: 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;

}

.logo img{
    border-radius: 5px;
    width: 50px;
    height: 30px;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 30px;
}

nav ul li {
    display: inline-flex;
    margin: 0 5px;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    border-radius: 6px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

nav ul li:hover {
    background-color: crimson;
}

nav ul li:nth-child(5) {
    background-color: crimson;
}

.deskripsi {
    position: absolute;
    width:45%;
    height: 68% ;
    top: 200px;
    left: calc(50% - 22.5%);
    text-align: center;

}

.deskripsi i:hover{
    opacity: 1;
}

.deskripsi i{
    position: absolute;
    bottom: 0;
    color: white;
    opacity: .5;
    text-decoration: none;
    font-size: 40px;
}

.deskripsi h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 1000;
    letter-spacing: 10px;
    font-size: 90px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    width: 50%;
}

.deskripsi p {
    line-height: 30px;
    width: auto;
    font-size: 15px;
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    color: #f5f5f5;
    margin: 0;
}

.deskripsi img {
    opacity: .9;
    width: 600px;
    height: 150px;
}